.theme{
    height: 30vh;
    width: 50vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
}
.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}